*, *::after, *::before {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

img {
    display: block;
    max-width: 100%;
}

input, button {
    font-size: inherit;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1rem;
    color: black;
    
    background-image: url(image/house4.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
   
}

.container {
   padding: 2em 1rem;
   max-width: 600px;
   margin: auto;
   
    
}

.content {
    padding: 1em 1em;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    border: 3px solid rgb(163, 162, 162);
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.62);
    margin-bottom: 1em;
    
}



h1 {
    font-weight: bold;
}

#count-el {
    font-size: 1.7rem;
}

button {
    width: 10.5rem;
    padding: 0.6em 0px;
    background-color: darkred;
    border: 1px solid white;
    color: white;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 1rem;
}

#increment-btn:hover {
    background-color: rgb(238, 2, 2);
}

#save-btn {
    background-color: darkgreen;
    padding: 0.6em 4em;
}

#save-btn:hover {
    background-color: rgba(78, 128, 2, 0.654);
}

.results {
    font-size: 1.25rem;
    font-weight: 600;
}

#error {
    color: rgba(255, 0, 0, 0.646);
    font-style: italic;
    font-size: 1rem;
    font-weight: 300;
}

.black-jack {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: green;
    color: white;
    font-weight: 600;
    font-size: 1.3rem;
}

.black-jack h1 {
    color: goldenrod;
}

.black-jack p {
    margin: 0.4em 0px;
}

#message-el {
    font-style: italic;
}

.black-jack button {
    background-color: goldenrod;
    color: green;
    border: none;
    border-radius: 5px;
}